@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sqStroke {
      @apply stroke-gray-200;
      stroke-dasharray:1200;
      /* fill:red; */
      /* animation: animate 2s cubic-besizer(0,0.23,1,0.1);
      opacity: 10; */
    }
    .sqStroke2{
      @apply stroke-gray-600;
      stroke-dasharray:160;
      /* fill:red; */
    }
    .custom-card-image .card.image-full::before{
      border-radius:0.5rem;
      opacity: 0.5;
    }
    
  }
  