@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sqStroke {
      @apply stroke-teal-400;
      stroke-dasharray:500;
      /* animation: animate 2s cubic-besizer(0,0.23,1,0.1);
      opacity: 10; */
    }
    @keyframes animate{
      0% {
        opacity: 10;
        stroke-dasharray:990;
      }
      25% {
        opacity: 10;
        stroke-dasharray:750;
      }
      50% {
        opacity: 10;
        stroke-dasharray:500;
      }
      75% {
        opacity: 10;
        stroke-dasharray:250;
      }
      100% {
        opacity: 10;
        stroke-dasharray:0;
      }

    
    }
  }
  